/* Centers the text within the body element */
body {
  text-align: center;
}

/* Styles for all buttons */
button {
  /* Sets the font size to be larger than normal */
  font-size: x-large;

  /* Adds margin to the right of the button */
  margin-right: 3px;

  /* Adds rounded edges to the button */
  border-radius: 7px;

  /* Sets the background color of the button to dark orange */
  background-color: darkorange;

  /* Adds padding inside the button */
  padding: 6px;
}